---
import { Icon } from 'astro-icon/components'
---

<footer class='flex flex-col items-center justify-center gap-2 bg-sky-900 p-6 text-sky-200'>
  <p class='flex items-center justify-center gap-1 font-semibold'>
    <Icon name='copy-left' aria-label='copy left icon' title='copy left' class='icon' />
    {new Date().getFullYear()} Fullstack Auth System.
  </p>
  <p>
    Built by <a
      class='link'
      href='https://github.com/TituxMetal'
      target='_blank'
      rel='noopener noreferrer'>Lgdweb</a
    > with <Icon name='heart' aria-label='heart icon' title='love' class='icon text-red-600/80' /> and
    lots of <Icon
      name='coffee'
      title='coffee'
      aria-label='coffee icon'
      class='icon text-amber-600/80'
    />.
  </p>
</footer>
